<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="recursos/css/bootstrap.min.css">
    <link rel="stylesheet" href="recursos/css/estilos.css">
    <title>{{ titulo }} | Demo</title>
</head>
