{{> headhtml }}
{{> menu }}

<div class="row">
    <div class="col-8">
        <h1>Viaje a Foz de Iguazú</h1>
        <p>Este es un ejemplo de información que se puede compartir...</p>
    </div>
    <div class="col-4">
        <img src="recursos/img/foto1.jpg" class="img-thumbnail" alt="No hay imagen disponible">
    </div>
    </div>

    {{> footer }}
