{{> headhtml }}
{{> menu }}

<div class="row">
    <div class="col-8">
        <h1>Viaje a Foz de Iguazú</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nobis in maxime exercitationem adipisci voluptas ex provident maiores odit asperiores quasi assumenda harum. Veritatis deserunt voluptatem odit aspernatur iure facilis!</p>
    </div>
    <div class="col-4">
        <img src="recursos/img/foto1.jpg" class="img-thumbnail">
    </div>
    </div>

    {{> footer }}
