<!DOCTYPE html>
<html lang="en">
{{> headhtml }}

<body>
    {{> menu }}
    <div class="jumbotron">
        <h1 class="display-4">Home de {{ capitalizar nombre }}</h1>
        <h2>By NelsSoft</h2>
        <p class="lead">Un sitio web para compartir información.</p>
        <hr class="my-4">
        <p>Hola | Hello </p>
        {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
    </div>
    {{> footer }}
</body>

</html>
